<div class="row">
  <h1>Galleries</h1>

  <div class="row">
    <div class="span12">
    <%= form_tag galleries_path, method: :get, autocomplete: "off" do |f| %>
      <%= text_field_tag :search_token, nil, placeholder: "Search", type: :text, id: "search" %>
    <% end %>
    </div>

  </div>

  <%= link_to 'New', new_gallery_path, :class => 'btn btn-mini' %>
  <p></p>
  <ul class="thumbnails files">
    <% @galleries.each do |gallery| %>
        <li class="span4" id="gallery_<%= gallery.id %>">
          <div class="thumbnail">
            <%= link_to image_tag(gallery.pictures.first.image.url), gallery_path(gallery) %>
            <div class="caption">
              <p style="text-align: center;">
                <%= gallery.name.truncate(14) %>
                <%= link_to "Show", gallery_path(gallery) %>
                <%= link_to "Edit", edit_gallery_path(gallery) %>
                <%= link_to "Delete", gallery,
                  :data => { :confirm => "Are you sure?" },
                  :method => :delete
                %>
              </p>
            </div>
          </div>
        </li>
    <% end %>
  </ul>

</div>

<%= render file: "#{Rails.root}/app/views/galleries/search.erb.js" %>
